html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    background-color: #DEDEDE;
}

body {
    margin-bottom: 60px;
    background-color: #DEDEDE;
}

.container {
    border-radius: 25px;
    background-color: white;
    box-shadow: 5px 5px;
    color:lightgray
}

.navbar {
    background-color: #6B6B6B;
    font-size:20px;
}

label{
    color:gray;
}

input {
    color: gray;
    border-radius: 250px;
}

.table{
    color:grey
}

h1, h2{
    font-weight:750;
    color:grey;
}

p {
    font-weight: 500;
    color: grey;
}