<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="//use.fontawesome.com/releases/v6.1.1/css/all.css">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/brands.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/fontawesome.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/regular.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/solid.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/svg-with-js.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/v4-font-face.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/v4-shims.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/v5-font-face.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/UserManagementSystem.UI.styles.css" asp-append-version="true" />

@{ViewData["Title"] = "Home Page";}

<div class="text-center">
    <h1 class="mb-4">Welcome</h1>
    <p>
        Hello, welcome to my user management app where you can store peoples emails
    </p>
</div>
