<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="//use.fontawesome.com/releases/v6.1.1/css/all.css">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/all.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/brands.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/fontawesome.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/regular.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/solid.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/svg-with-js.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/v4-font-face.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/v4-shims.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/v5-font-face.min.css" asp-append-version="true" />
<link rel="stylesheet" href="~/UserManagementSystem.UI.styles.css" asp-append-version="true" />

@{ViewData["Title"] = "Privacy Policy";}

<div class="text-center">
    <h1 class="mb-4">Privacy Policy</h1>
    <p>
        All parties agree that they will comply with POPI regulations and process all the information and/or personal data in respect of the services being rendered in accordance with the said regulation and only for the purpose of providing the Services set out in the agreement to provide services.

        It is confirmed that by submitting information to Nelson Mandela University Career Services, irrespective as to how such information is submitted, you consent to the collection, collation, processing, and storing of such information and the use and disclosure of such information in accordance with this policy.

        Nelson Mandela University Career Services (also called the service provider), all the parties to this agreement, the service provider’s employees and the client’s employees and any subsequent party/parties to this agreement acknowledge and confirm that;

        One or more of the parties to this agreement, will possess and will continue to possess information that may be classified or maybe deemed as private, confidential or as personal information.
        Such information may also be deemed as or considered as private, confidential or as personal information of any third person who may be directly or indirectly associated with this agreement.
        Further it is acknowledged and agreed by all parties to this agreement, that such private, confidential or as personal information may have value and such information may or may not be in the public domain.
        Further it is specifically agreed that the Nelson Mandela University Career Services will use its best endeavours and take all reasonable precautions to ensure that any information provided, is only used for the purposes it has been provided.
    </p>
</div>
